In [82]:
import pandas as pd 

data = pd.read_csv("data/attacks.csv", encoding = 'ISO-8859-1', dtype=object)
data

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Cleaning Data

First of all, we need to make sure if there are rows without value and, if so, we need to delete them.

In [83]:
shark = data.dropna(how="all")
shark

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

After cleaning thousands of rows, we need to make sure that there are no duplicates. That is why we proceed to avoid duplicates:

In [84]:
shark_= shark.drop_duplicates()
shark_

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6306,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6308,NaN,NaN
6307,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6309,NaN,NaN
6308,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6310,NaN,NaN
6309,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We managed to clean more than 2000 duplicates. However, it is also appreciated that some of them have '0' and 'xx' as their case number value. We proceed to clean it by deleting those rows:

In [85]:

shark_ = shark_.drop(shark_[shark_['Case Number'] == '0'].index)
shark_ = shark_.drop(shark_[shark_['Case Number'] == 'xx'].index)
shark_

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303,NaN,NaN
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302,NaN,NaN
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301,NaN,NaN
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300,NaN,NaN
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0000,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6,NaN,NaN
6298,ND.0004,Before 1903,0000,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5,NaN,NaN
6299,ND.0003,1900-1905,0000,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4,NaN,NaN
6300,ND.0002,1883-1889,0000,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3,NaN,NaN
6301,ND.0001,1845-1853,0000,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2,NaN,NaN

After this, we can see that there are two columns that could be noise: "Unnamed: 22" and "Unnamed:23". We will check is this is true, and if so, we will remove them.

In [86]:
shark_["Unnamed: 22"].value_counts()
shark_["Unnamed: 23"].value_counts()

Unnamed: 22
stopped here    1
Name: count, dtype: int64

In [94]:
new_shark = shark_.drop(["Unnamed: 22", "Unnamed: 23"], axis=1)
new_shark

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order
0,2018.06.25,25-Jun-2018,2018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303
1,2018.06.18,18-Jun-2018,2018,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302
2,2018.06.09,09-Jun-2018,2018,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301
3,2018.06.08,08-Jun-2018,2018,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300
4,2018.06.04,04-Jun-2018,2018,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6297,ND.0005,Before 1903,0000,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6
6298,ND.0004,Before 1903,0000,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,...,Y,NaN,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5
6299,ND.0003,1900-1905,0000,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,...,Y,NaN,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4
6300,ND.0002,1883-1889,0000,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,...,Y,NaN,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3
6301,ND.0001,1845-1853,0000,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,Y,NaN,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2

After cleaning generically, it is time to focus on the first question: what is the attack per inhabitant ratio of each country?

To do so, we need to:

1) Get the values of the 'Country' column.
2) Get the number of inhabitants of each country involved. To simplify the model, we will use the number of inhabitants in ____

In [97]:
for i, x in 

print(new_shark["Country"].value_counts()

Country
USA                       2229
AUSTRALIA                 1338
SOUTH AFRICA               579
PAPUA NEW GUINEA           134
NEW ZEALAND                128
                          ...
MALDIVE ISLANDS              1
NICARAGUA                    1
NORTH SEA                    1
RED SEA / INDIAN OCEAN       1
CEYLON (SRI LANKA)           1
Name: count, Length: 212, dtype: int64

In [103]:
for pais, cantidad in zip(new_shark["Country"].value_counts().index, new_shark["Country"].value_counts().values):
    print(f"País: {pais}, valorsito: {cantidad}")

País: USA, valorsito: 2229
País: AUSTRALIA, valorsito: 1338
País: SOUTH AFRICA, valorsito: 579
País: PAPUA NEW GUINEA, valorsito: 134
País: NEW ZEALAND, valorsito: 128
País: BRAZIL, valorsito: 112
País: BAHAMAS, valorsito: 109
País: MEXICO, valorsito: 89
País: ITALY, valorsito: 71
País: FIJI, valorsito: 62
País: PHILIPPINES, valorsito: 61
País: REUNION, valorsito: 60
País: NEW CALEDONIA, valorsito: 53
País: CUBA, valorsito: 46
País: MOZAMBIQUE, valorsito: 45
País: SPAIN, valorsito: 44
País: INDIA, valorsito: 40
País: EGYPT, valorsito: 38
País: CROATIA, valorsito: 34
País: JAPAN, valorsito: 34
País: PANAMA, valorsito: 32
País: SOLOMON ISLANDS, valorsito: 30
País: IRAN, valorsito: 29
País: JAMAICA, valorsito: 27
País: FRENCH POLYNESIA, valorsito: 25
País: GREECE, valorsito: 25
País: HONG KONG, valorsito: 24
País: INDONESIA, valorsito: 23
País: ENGLAND, valorsito: 23
País: PACIFIC OCEAN, valorsito: 17
País: ATLANTIC OCEAN, valorsito: 17
País: COSTA RICA, valorsito: 17
País: BERMUDA, valorsito: 16
País: VIETNAM, valorsito: 15
País: TONGA, valorsito: 15
País: SRI LANKA, valorsito: 14
País: VANUATU, valorsito: 14
País: MARSHALL ISLANDS, valorsito: 13
País: FRANCE, valorsito: 13
País: CANADA, valorsito: 12
País: SOUTH ATLANTIC OCEAN, valorsito: 12
País: TURKEY, valorsito: 12
País: IRAQ, valorsito: 12
País: VENEZUELA, valorsito: 11
País: UNITED KINGDOM, valorsito: 11
País: SENEGAL, valorsito: 11
País: KENYA, valorsito: 10
País: NEW GUINEA, valorsito: 10
País: MAURITIUS, valorsito: 10
País: ECUADOR, valorsito: 9
País: TAIWAN, valorsito: 9
País: COLUMBIA, valorsito: 9
País: CARIBBEAN SEA, valorsito: 8
País: TANZANIA, valorsito: 8
País: SCOTLAND, valorsito: 8
País: MADAGASCAR, valorsito: 8
País: CHILE, valorsito: 8
País: SOUTH KOREA, valorsito: 8
País: THAILAND, valorsito: 8
País: SAMOA, valorsito: 8
País: SIERRA LEONE, valorsito: 8
País: SEYCHELLES, valorsito: 7
País: NORTH PACIFIC OCEAN, valorsito: 7
País: ISRAEL, valorsito: 7
País: CHINA, valorsito: 7
País: DOMINICAN REPUBLIC, valorsito: 7
País: YEMEN , valorsito: 7
País: INDIAN OCEAN, valorsito: 7
País: LIBYA, valorsito: 6
País: BARBADOS, valorsito: 6
País: OKINAWA, valorsito: 6
País: NICARAGUA, valorsito: 6
País: NEW BRITAIN, valorsito: 6
País: SOMALIA, valorsito: 6
País: KIRIBATI, valorsito: 6
País: SINGAPORE, valorsito: 6
País: PALAU, valorsito: 5
País: MALAYSIA, valorsito: 5
País: MALTA, valorsito: 5
País: AZORES, valorsito: 5
País: TURKS & CAICOS, valorsito: 5
País: MID ATLANTIC OCEAN, valorsito: 5
País: SAUDI ARABIA, valorsito: 5
País: BURMA, valorsito: 4
País: NORTH ATLANTIC OCEAN, valorsito: 4
País: PERSIAN GULF, valorsito: 4
País: EL SALVADOR, valorsito: 4
País: URUGUAY, valorsito: 4
País: SUDAN, valorsito: 4
País: GRENADA, valorsito: 4
País: HONDURAS, valorsito: 4
País: GUAM, valorsito: 4
País: NIGERIA, valorsito: 4
País: RUSSIA, valorsito: 4
País: MONTENEGRO, valorsito: 3
País: CEYLON, valorsito: 3
País: TRINIDAD & TOBAGO, valorsito: 3
País: MARTINIQUE, valorsito: 3
País:  TONGA, valorsito: 3
País: BELIZE, valorsito: 3
País: GUINEA, valorsito: 3
País: AMERICAN SAMOA, valorsito: 3
País: PORTUGAL, valorsito: 3
País: Fiji, valorsito: 3
País: TUNISIA, valorsito: 3
País: LEBANON, valorsito: 3
País: GUYANA, valorsito: 3
País: MICRONESIA, valorsito: 3
País: HAITI, valorsito: 3
País: LIBERIA, valorsito: 3
País: CAPE VERDE, valorsito: 3
País: YEMEN, valorsito: 2
País: UNITED ARAB EMIRATES, valorsito: 2
País: WEST INDIES, valorsito: 2
País: EGYPT , valorsito: 2
País: ICELAND, valorsito: 2
País: CRETE, valorsito: 2
País: SOUTHWEST PACIFIC OCEAN, valorsito: 2
País: SOUTH PACIFIC OCEAN, valorsito: 2
País: JOHNSTON ISLAND, valorsito: 2
País: NORWAY, valorsito: 2
País: CAYMAN ISLANDS, valorsito: 2
País: CENTRAL PACIFIC, valorsito: 2
País: UNITED ARAB EMIRATES (UAE), valorsito: 2
País: ST HELENA, British overseas territory, valorsito: 2
País: PACIFIC OCEAN , valorsito: 2
País: NAMIBIA, valorsito: 2
País: TOBAGO, valorsito: 2
País: ANTIGUA, valorsito: 2
País: MEDITERRANEAN SEA, valorsito: 2
País: SAN DOMINGO, valorsito: 1
País: RED SEA?, valorsito: 1
País: REUNION ISLAND, valorsito: 1
País: CYPRUS, valorsito: 1
País: IRELAND, valorsito: 1
País: KUWAIT, valorsito: 1
País: ASIA?, valorsito: 1
País: MONACO, valorsito: 1
País: FALKLAND ISLANDS, valorsito: 1
País: INDIAN OCEAN?, valorsito: 1
País: PARAGUAY, valorsito: 1
País: EQUATORIAL GUINEA / CAMEROON, valorsito: 1
País: ALGERIA, valorsito: 1
País: Coast of AFRICA, valorsito: 1
País: TASMAN SEA, valorsito: 1
País: GHANA, valorsito: 1
País: AFRICA, valorsito: 1
País: PERU, valorsito: 1
País: GREENLAND, valorsito: 1
País: SWEDEN, valorsito: 1
País: COOK ISLANDS, valorsito: 1
País: ROATAN, valorsito: 1
País: BRITISH NEW GUINEA, valorsito: 1
País: ANDAMAN ISLANDS, valorsito: 1
País: Between PORTUGAL & INDIA, valorsito: 1
País: TUVALU, valorsito: 1
País: DJIBOUTI, valorsito: 1
País: SYRIA, valorsito: 1
País: GEORGIA, valorsito: 1
País: BAHREIN, valorsito: 1
País: OCEAN, valorsito: 1
País: KOREA, valorsito: 1
País: ITALY / CROATIA, valorsito: 1
País: COMOROS, valorsito: 1
País: CURACAO, valorsito: 1
País: SLOVENIA, valorsito: 1
País: BRITISH ISLES, valorsito: 1
País: WESTERN SAMOA, valorsito: 1
País: BANGLADESH, valorsito: 1
País: SOUTH CHINA SEA, valorsito: 1
País: ANGOLA, valorsito: 1
País: NORTHERN ARABIAN SEA, valorsito: 1
País: EGYPT / ISRAEL, valorsito: 1
País: MEXICO , valorsito: 1
País: Seychelles, valorsito: 1
País: GRAND CAYMAN, valorsito: 1
País: ST. MAARTIN, valorsito: 1
País: Sierra Leone, valorsito: 1
País: GULF OF ADEN, valorsito: 1
País: BRITISH VIRGIN ISLANDS, valorsito: 1
País: NEVIS, valorsito: 1
País: MALDIVES, valorsito: 1
País: PALESTINIAN TERRITORIES, valorsito: 1
País: DIEGO GARCIA, valorsito: 1
País: ST. MARTIN, valorsito: 1
País: PUERTO RICO, valorsito: 1
País: ARUBA, valorsito: 1
País: RED SEA, valorsito: 1
País: FEDERATED STATES OF MICRONESIA, valorsito: 1
País: ADMIRALTY ISLANDS, valorsito: 1
País: ARGENTINA, valorsito: 1
País: MID-PACIFC OCEAN, valorsito: 1
País: BAY OF BENGAL, valorsito: 1
País: SOLOMON ISLANDS / VANUATU, valorsito: 1
País:  PHILIPPINES, valorsito: 1
País: JAVA, valorsito: 1
País: IRAN / IRAQ, valorsito: 1
País: NORTHERN MARIANA ISLANDS, valorsito: 1
País: NETHERLANDS ANTILLES, valorsito: 1
País: GUATEMALA, valorsito: 1
País: SUDAN?, valorsito: 1
País: BRITISH WEST INDIES, valorsito: 1
País: THE BALKANS, valorsito: 1
País: NORTH ATLANTIC OCEAN , valorsito: 1
País: MAYOTTE, valorsito: 1
País: GABON, valorsito: 1
País: ANDAMAN / NICOBAR ISLANDAS, valorsito: 1
País: MALDIVE ISLANDS, valorsito: 1
País: NICARAGUA , valorsito: 1
País: NORTH SEA, valorsito: 1
País: RED SEA / INDIAN OCEAN, valorsito: 1
País: CEYLON (SRI LANKA), valorsito: 1

In [101]:
new_shark["Country"].value_counts().index

Index(['USA', 'AUSTRALIA', 'SOUTH AFRICA', 'PAPUA NEW GUINEA', 'NEW ZEALAND',
       'BRAZIL', 'BAHAMAS', 'MEXICO', 'ITALY', 'FIJI',
       ...
       'THE BALKANS', 'NORTH ATLANTIC OCEAN ', 'MAYOTTE', 'GABON',
       'ANDAMAN / NICOBAR ISLANDAS', 'MALDIVE ISLANDS', 'NICARAGUA ',
       'NORTH SEA', 'RED SEA / INDIAN OCEAN', 'CEYLON (SRI LANKA)'],
      dtype='object', name='Country', length=212)

In [98]:
for i in new_shark["Country"].value_counts():
    print(i)

2229
1338
579
134
128
112
109
89
71
62
61
60
53
46
45
44
40
38
34
34
32
30
29
27
25
25
24
23
23
17
17
17
16
15
15
14
14
13
13
12
12
12
12
11
11
11
10
10
10
9
9
9
8
8
8
8
8
8
8
8
8
7
7
7
7
7
7
7
6
6
6
6
6
6
6
6
5
5
5
5
5
5
5
4
4
4
4
4
4
4
4
4
4
4
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
3
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
2
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1